.footerSection {
  background-color: #333333;
  padding: 40px;

  .topSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c1c7cd;
    padding-bottom: 49px;

    .rightSection {
      display: flex;
      align-items: center;
      gap: 40px;

      input {
        width: 325px;
        padding: 13px 16px;
      }

      button {
        background-color: #13827c;
        white-space: nowrap;
        padding: 16px 10px;
        min-width: 150px;
        display: flex;
        justify-content: center;
        font-family: "poppins";
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-align: left;
        color: #fff;
      }
    }
  }

  .footerLinksContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-top: 45px;
    border-bottom: 1px solid #c1c7cd;

    .footerCol {
      width: 25%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 65px;

      span {
        //styleName: Heading/6;
        font-family: "poppins";
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        cursor: pointer;

        &.heading {
          font-size: 22px;
          margin-bottom: 28px;

        }
      }
    }
  }

                                                                                                                                                                                                                                                                .contactUsItem {
                                                                                                                                
                                                                                                                                                                                                                                                                  padding: 5px;
                                                                                                                                                                                                                                                                  display: flex;
                                                                                                                                                                                                                                                                  align-items: center;
                                                                                                                                                                                                                                                                  gap: 5px;
                                                                                                                                
                                                                                                                                                                                                                                                                  .contactIcon {
                                                                                                                                                                                                                                                                    width: 15px;
                                                                                                                                                                                                                                                                    height: 15px;
                                                                                                                                                                                                                                                                    cursor: pointer;
                                                                                                                                                                                                                                                                  }
                                                                                                                                
                                                                                                                                                                                                                                                                  .contactTag {
                                                                                                                                                                                                                                                                    font-size: 14px !important;
                                                                                                                                                                                                                                                                    font-weight: 500;
                                                                                                                                                                                                                                                                    color: white;
                                                                                                                                
                                                                                                                                                                                                                                                                    a {
                                                                                                                                                                                                                                                                      text-decoration: none;
                                                                                                                                                                                                                                                                      color: white;
                                                                                                                                                                                                                                                                    }
                                                                                                                                                                                                                                                                  }
                                                                                                                                
                                                                                                                                                                                                                                                                }
  .socialMediaLinks {
    p {
      //styleName: Body/S;
      font-family: "poppins";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #89939e;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;

    .icons {
      display: flex;
      align-items: center;
      gap: 18px;
>img {
        cursor: pointer;
      }
    }
  }
}