.container {
  background-color: #f5f7fa;
  padding: 20px 0;
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-family: "Poppins";
      font-size: 64px;
      font-weight: 600;
      line-height: 76px;
      letter-spacing: 0em;
      text-align: center;
      margin-top: 30px;
    }

    p {
      margin-top: 0;
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: center;
      color: #717171;
      margin-bottom: 62px;
    }
  }

  .cardSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 50px;
    margin: 60px 80px;
  }

  .btnContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 98px;
    button {
      //styleName: Heading/Headline 4;
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
      background-color: #19aea5;
      border: none;
      padding: 15px;
    }
  }
}
