.container {
  width: 382px;
  overflow: hidden;
  min-height: 544px;

  p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

    &.description {
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0em;
    }
  }

  .btnContainer {
    padding: 10px 18px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #89939e;

    //styleName: Body/Medium/Body 1;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #19aea5;
  }
}
