.topBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 60px;
  border-bottom: 1px solid #c1c7cd;

  .middleSection {
    display: flex;
    align-items: center;
    gap: 29px;

    .dangerBtn {
      width: 162px;
    }
  }

  .select {
    background-color: #f5f7fa;
    //styleName: Body/Medium/Body 2;
    font-family: "poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #0c0c0c !important;
    border: none;
    min-width: 162px;
  }

  .megaMenuContent {
    top: 60px;
    position: absolute;
    left: -14.5vw;
    width: calc(100dvw - 30dvw);
    padding: 0;
    margin: 0;
  }

  .leftSection {
    background-color: #f5f7fa;

    .heading {
      padding: 8px 0;
      text-align: center;
      font-size: 15px;
      border-bottom: 1px dashed#abbed1;
    }

    .selected {
      font-weight: bold;
      background-color: #d1f8f6;
    }

    .menuItem {
      padding: 0.6em 0.6em;
      margin: 0.6em 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .menuContentLeft {
        display: flex;
        align-items: center;

        & a {
          margin-left: 10px;
        }
      }

      & a {
        text-decoration: none;
        color: black;
        font-size: 16px;
      }

      &:hover {
        background-color: #d1f8f6;
      }
    }
  }

  button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .rightSection {
    display: flex;
    align-items: center;
    gap: 24px;

    .Loginbutton {
      background-color: #f5f7fa;
      //styleName: Body/Medium/Body 2;
      font-family: "poppins";
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: #0c0c0c !important;
      border: 1px solid #0c0c0c;
      padding: 10px 30px;
    }

    p {
      margin-bottom: 0;
      font-family: "poppins";
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: #0c0c0c !important;
    }
  }
  p {
    margin-bottom: 0;
    margin-left: 10px;
    font-family: "poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #0c0c0c !important;
    cursor: pointer;
  }
}
