.topBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 60px;
  border-bottom: 1px solid #c1c7cd;
  .middleSection {
    display: flex;
    align-items: center;
    gap: 29px;
    .dangerBtn {
      width: 162px;
    }
  }
  .select {
    background-color: #f5f7fa;
    //styleName: Body/Medium/Body 2;
    font-family: "poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #0c0c0c !important;
    border: none;
    min-width: 162px;
  }
  button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .rightSection {
    display: flex;
    align-items: center;
    gap: 24px;
    .Loginbutton {
      background-color: #f5f7fa;
      //styleName: Body/Medium/Body 2;
      font-family: "poppins";
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: #0c0c0c !important;
      border: 1px solid #0c0c0c;
      padding: 10px 30px;
    }
    p {
      margin-bottom: 0;
      font-family: "poppins";
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: #0c0c0c !important;
    }
  }
}
